.menu-burger-2-11 {
  position: absolute;
  top: 25px;
  left: 12px;
  width: 62px;
  height: 51px;
  object-fit: cover;
  cursor: pointer;
}
.employee-demo-child,
.image-7-icon {
  position: absolute;
  top: 27px;
  left: 82px;
  width: 83px;
  height: 77px;
}
.image-7-icon {
  top: 45px;
  left: 100px;
  width: 47px;
  height: 41px;
  object-fit: cover;
}
.name-lastname {
  position: absolute;
  top: 112px;
  left: 42px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 164px;
  height: 15px;
}
.position,
.streak-of-projects {
  position: absolute;
  top: 148px;
  left: 33px;
  font-weight: 600;
}
.streak-of-projects {
  top: 221px;
  left: 69px;
  font-size: var(--font-size-xs);
}
.email-address,
.phone-number {
  position: absolute;
  top: 178px;
  left: 33px;
  font-weight: 600;
}
.phone-number {
  top: 148px;
  left: 124px;
}
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 183px;
  left: 7px;
  width: 22px;
  height: 13px;
  object-fit: cover;
}
.image-9-icon {
  top: 224px;
  left: 44px;
  width: 16px;
  height: 11px;
}
.image-10-icon,
.image-11-icon,
.image-12-icon {
  position: absolute;
  top: 152px;
  left: 10px;
  width: 19px;
  height: 15px;
  object-fit: cover;
}
.image-11-icon,
.image-12-icon {
  left: 106px;
  width: 17px;
  height: 12px;
}
.image-12-icon {
  top: 222px;
  left: 174px;
  width: 21px;
  height: 15px;
}
.employee-demo,
.employee-demo1,
.employee-demo2 {
  position: absolute;
  top: 719px;
  left: 577px;
  border-radius: var(--br-23xl);
  background-color: var(--color-whitesmoke-200);
  width: 248px;
  height: 255px;
}
.employee-demo1,
.employee-demo2 {
  left: 870px;
}
.employee-demo2 {
  left: 1164px;
}
.search-1-icon {
  position: absolute;
  top: 7px;
  left: 34px;
  width: 43px;
  height: 34px;
  object-fit: cover;
  display: none;
}
.search-employees {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 56px;
}
.search-bar,
.search-bar-wrapper {
  position: absolute;
  width: 810px;
  height: 48px;
}
.search-bar {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
}
.search-bar-wrapper {
  top: 25px;
  left: 584px;
}
.employees-ceo {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--font-jost);
}
