.employee-demo-child2,
.image-7-icon4 {
  position: absolute;
  top: 27px;
  left: 82px;
  width: 83px;
  height: 77px;
}
.image-7-icon4 {
  top: 45px;
  left: 100px;
  width: 47px;
  height: 41px;
  object-fit: cover;
}
.name-lastname4 {
  position: absolute;
  top: 112px;
  left: 42px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 164px;
  height: 15px;
}
.position4,
.streak-of-projects4 {
  position: absolute;
  top: 148px;
  left: 33px;
  font-weight: 600;
}
.streak-of-projects4 {
  top: 221px;
  left: 69px;
  font-size: var(--font-size-xs);
}
.email-address4,
.phone-number4 {
  position: absolute;
  top: 178px;
  left: 33px;
  font-weight: 600;
}
.phone-number4 {
  top: 148px;
  left: 124px;
}
.image-8-icon4,
.image-9-icon4 {
  position: absolute;
  top: 183px;
  left: 7px;
  width: 22px;
  height: 13px;
  object-fit: cover;
}
.image-9-icon4 {
  top: 224px;
  left: 44px;
  width: 16px;
  height: 11px;
}
.image-10-icon4,
.image-11-icon4,
.image-12-icon4 {
  position: absolute;
  top: 152px;
  left: 10px;
  width: 19px;
  height: 15px;
  object-fit: cover;
}
.image-11-icon4,
.image-12-icon4 {
  left: 106px;
  width: 17px;
  height: 12px;
}
.image-12-icon4 {
  top: 222px;
  left: 174px;
  width: 21px;
  height: 15px;
}
.employee-demo4 {
  position: absolute;
  top: 96px;
  left: 870px;
  border-radius: var(--br-23xl);
  background-color: var(--color-whitesmoke-200);
  width: 248px;
  height: 255px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--font-jost);
}
