.new-project-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  width: 623px;
  height: 637px;
}
.new-project1 {
  position: absolute;
  top: 29px;
  left: 165px;
  font-weight: 300;
  display: inline-block;
  width: 307.92px;
  height: 74.12px;
}
.new-project-child1,
.new-project-child2,
.new-project-inner,
.new-project-item {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 301.46px;
  left: 40.11px;
}
.new-project-child1,
.new-project-child2,
.new-project-inner {
  top: 180.26px;
}
.new-project-child1,
.new-project-child2 {
  top: 417.64px;
  left: 38.18px;
}
.new-project-child2 {
  top: 180.26px;
  left: 318.98px;
}
.image-18-icon1 {
  position: absolute;
  top: 276px;
  left: 559px;
  width: 20.33px;
  height: 21.03px;
  object-fit: cover;
}
.image-16-icon,
.image-17-icon,
.image-19-icon {
  position: absolute;
  top: 390px;
  left: 553px;
  width: 23.24px;
  height: 24.04px;
  object-fit: cover;
}
.image-16-icon,
.image-17-icon {
  top: 152px;
  width: 32px;
  height: 26px;
}
.image-17-icon {
  top: 160px;
  left: 275px;
  width: 20px;
  height: 18px;
}
.new-project {
  position: absolute;
  top: 163px;
  left: 408px;
  width: 623px;
  height: 637px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
